<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <title>Vue</title>
   </head>
   <body>
      <div id="vue">
         <div class="card-group">
            <div class="card">
               <div class="card-title"> Lenght of Products {{ Products.length }} </div>
               <div class="card-body">
                  <ul class="list-group">
                     <li v-for="i in Products" :key="i.id" class="list-group-item"> {{ i.ProductName }} </li>
                  </ul>
               </div>
               <div v-if="Products.length === 2"> são dois </div>
               <div v-else> Não são dois </div>
            </div>
            <div class="card">
               <div class="card-title"> Lenght of Pessoas {{ Pessoas.length }} </div>
               <div class="card-body">
                  <ul class="list-group">
                     <li v-for="p in Pessoas" :key="p.id" class="list-group-item"> {{ p.PessoaNome }} </li>
                  </ul>
               </div>
               <div v-if="Pessoas.length === 2"> são dois </div>
               <div v-else> Não são dois </div>
            </div>
         </div>
      </div>
      <script src="src/main.js"></script>
   </body>
</html>